// all scss start

:root {
  --pcolor: #58595d;
  --english: grafiti;
  --green: #009387;
  --xl: x-large;
  --l: large;
  --sm: small;
  --xsm: x-small;
  --xxsm: xX-small;
  --full: 100%;
  --50px: 50px;
  --60px: 60px;
}
@font-face {
  font-family: grafiti;
  src: url(./aset/font/CoveredByYourGrace.woff);
}
* {
  margin: 0;
  padding: 0;
}
// header start
header {
  position: relative;
  > nav {
    background-color: #e0f8f2;
    height: 70px;
    width: 100%;
    > div.navbar {
      background-color: white;
      height: 80%;
      width: inherit;
      display: flex;
      position: absolute;
      top: 5%;
      > svg {
        position: absolute;
        top: 42%;
      }
      > li.Company {
        margin-top: 2%;
        position: absolute;
        right: 30%;
        list-style-type: none;
      }
      > li {
        margin-top: 2%;
        position: absolute;
        right: 50%;
        list-style-type: none;
      }
      > span {
        margin-top: 2%;
        position: absolute;
        right: 40%;
      }
      > span.Pricing {
        margin-top: 2%;
        position: absolute;
        right: 24%;
      }
      a.login {
        margin-top: 2%;
        text-decoration: none;
        position: absolute;
        right: 16%;
        padding: 0.2%;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 10px;
        border: solid black 2px;
        box-shadow: 2px 2px 5px black;
        color: black;
      }
      a.account {
        margin-top: 2%;
        text-decoration: none;
        position: absolute;
        right: 3%;
        padding: 0.2%;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 10px;
        border: solid black 2px;
        box-shadow: 2px 2px 5px black;
        color: white;
        background-color: #ff6d2c;
      }
    }
  }
}
// header end
// main start
main {
  //  img.header-img start
  > img.header-img {
    width: 100%;
  }
  //  img.header-img end
  //  div.titel start
  > div.titel {
    width: 100%;
    margin-top: 10%;
    > img.org-titel-img {
      margin-left: 26%;
    }
    > div.titel-card {
      display: flex;
      justify-content: center;
      width: 90%;

      margin: 5% auto;
      > div.card {
        width: 20%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        border: none;
        > img.titel-card-p-img1 {
          width: 60%;
          margin: 7% auto;
        }
        > img.titel-card-p-img2 {
          width: 80%;
          margin: 7% auto;
        }
        > img.titel-card-p-img3 {
          width: 55%;
          margin: 7% auto;
        }
        > img.titel-card-p-img4 {
          width: 20%;
          margin: 6% auto;
        }
      }
    }
  }
  //  div.titel end
  //  div.work  start
  > div.work {
    width: 100%;
    background-color: #f3fafa;
    > img {
      margin-top: 8%;
      margin-left: 26%;
    }
    > div.work-text {
      display: flex;
      justify-content: space-evenly;

      > div.left {
        display: flex;
        flex-direction: column;
        width: 18%;
        margin-top: 9%;
        margin-bottom: 6%;
        > h1 {
          font-weight: bold;
          text-align: center;
        }
        > p {
          color: #58595d;
          text-align: center;
        }
      }
      div.center {
        margin-top: 4%;
        margin-bottom: 6%;
        > p {
          color: #58595d;
          text-align: center;
          font-size: smaller;
        }
      }
      div.right {
        display: flex;
        flex-direction: column;
        width: 18%;
        margin-top: 9%;
        margin-bottom: 6%;
        > h1 {
          font-weight: bold;
          text-align: center;
          font-size: 46px;
        }
        > p {
          color: #58595d;
          text-align: center;
        }
      }
    }
  }
  //  div.work  end
  //  div.cinch  start
  > div.cinch {
    width: 100%;
    background-color: #fdf3ea;
    > div.top {
      width: inherit;
      display: flex;
      justify-content: center;
      align-items: center;

      > img {
        width: 50%;
        margin-top: 6%;
      }
    }
    div.cinch-pawerFull {
      width: 90%;

      margin: 10% auto;
      display: flex;
      justify-content: left;
      > div.pawerfull {
        width: 30%;
        display: flex;
        flex-direction: column;
        text-align: left;

        > img {
          width: 50%;
        }
        > p {
          width: 90%;
          margin: 7% 0;
          color: var(--pcolor);
        }
        > img.img-down {
          width: 100%;
        }
      }
    }
    div.cinch-fightBack {
      width: 95%;
      margin: 10% auto;
      display: flex;
      justify-content: right;
      > div.fightBack {
        width: 35%;
        display: flex;
        flex-direction: column;
        text-align: left;

        > img {
          width: 88%;
        }
        > p {
          width: 90%;
          margin: 7% 0;
          color: var(--pcolor);
        }
        > img.img-down {
          width: 100%;
        }
      }
    }
    div.cinch-you {
      width: 95%;
      margin: 10% auto;
      margin-bottom: 0;
      display: flex;
      justify-content: left;
      > div.you {
        width: 35%;
        display: flex;
        flex-direction: column;
        text-align: left;

        > img {
          width: 55%;
        }
        > p {
          width: 90%;
          margin: 7% 0;
          color: var(--pcolor);
        }
        > img.img-down {
          width: 100%;
        }
        > button.risk {
          border: solid 2px black;
          border-radius: 15px;
          width: 50%;
          background-color: #ff6d2c;
          box-sizing: border-box;
          box-shadow: 2.5px 2.5px 0px black;
          color: white;
          font-size: 15px;
          margin-top: 10%;
          margin-bottom: 20%;
        }
      }
    }
  }
  //  div.cinch  end
  //  div.your-brand start
  > div.your-brand {
    width: 100%;
    margin-top: 7%;
    > div.parag {
      width: 90%;
      display: flex;
      justify-content: center;
      text-align: center;
      margin: auto;
      flex-direction: column;
      > h1 {
        font-size: 60px;
        font-weight: bold;
      }
      > h1.grafity {
        font-size: 45px;
        font-family: var(--english);
        color: var(--green);
      }
    }
    > div.cardContiner {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      > div.card {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: none;
        background-color: #fdf3ea;
        border-radius: 15px;
        gap: 5%;
        margin-top: 2%;
        > img {
          width: 80%;
          margin-top: 5%;
        }
        > h2 {
          margin-top: 2%;
          width: 75%;
          font-weight: bold;
        }
        > p {
          margin-top: 2%;
          color: var(--pcolor);
          font-size: var(--sm);
          width: 70%;
        }
      }
      div.card-2 {
        background-color: #e0f8f2;
        > img {
          width: 60%;
          margin-top: 12%;
          margin-bottom: 5%;
        }
      }
      div.card-3 {
        background-color: #eeecff;
        > img {
          width: 60%;
          margin-top: 10%;
        }
        > h2 {
          margin-top: 0% !important;
          margin-bottom: 0% !important;
        }
        > p {
          margin-top: 0% !important;
          margin-bottom: 0% !important;
        }
      }
      div.card-4 {
        background-color: #d9f2f7;
        > img {
          width: 60%;
          margin-top: 10%;
        }
        > h2 {
          margin-top: 4% !important;
          margin-bottom: 0% !important;
        }
        > p {
          margin-top: 4% !important;
          margin-bottom: 0% !important;
        }
      }
      div.card-5 {
        background-color: #faeded;
        > img {
          width: 55%;
          margin-top: 10%;
        }
        > h2 {
          margin-top: 3% !important;
          margin-bottom: 0% !important;
        }
        > p {
          margin-top: 3% !important;
          margin-bottom: 0% !important;
        }
      }
      div.card-6 {
        background-color: #f1f1f1;
        > img {
          width: 60%;
          margin-top: 15%;
          margin-bottom: 5%;
        }
      }
    }
  }
  //  div.your-brand end
  //   div.lanech start
  div.lanech {
    width: var(--full);
    background-color: #e3f8f8;
    margin-top: 4%;
    > div.parag {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      > h1 {
        font-weight: bold;
        font-size: 50px;
        margin-top: 6%;
      }
      > h2 {
        margin-top: 1%;
        font-size: var(--50px);
        color: var(--green);
        font-family: var(--english);
      }
    }
    > div.body {
      width: 40%;
      display: flex;

      > div.number {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        > span {
          font-size: 40px;
          font-family: var(--english);
          color: var(--green);
        }
        > img {
          margin-left: 2.5%;
          width: 0.5%;
          height: 70px;
        }
      }
      > div.Segment {
        display: flex;
        flex-direction: column;
        > span {
          width: 80%;
          font-size: 25px;
          margin-top: 4%;
          margin-left: 5%;
          color: var(--pcolor);
          cursor: pointer;
        }
        > p {
          width: 80%;
          margin-left: 5%;
          font-weight: 600;
        }
        .blcak-bold {
          color: black;
          font-weight: bold;
        }
      }
    }
  }
  //   div.lanech end
  // div.DTC  start
  > div.DTC {
    width: 100%;
    margin-top: 5%;
    margin: 0 auto;

    margin-top: 5%;
    > div.parag {
      width: 100%;
      display: flex;
      justify-content: center;

      > h1 {
        margin-top: 5%;
        margin-bottom: 5%;
        > span {
          color: var(--green);
          font-family: var(--english);
        }
      }
    }
    div.cardContiner {
      display: flex;

      > img.right-card {
        margin-left: 5%;
        height: 70%;
      }
      > div.card {
        width: 25%;
        border: solid 2px rgb(56, 56, 56);
        height: 30%;
        border-radius: 15px;
        margin-left: 4%;
        > div.top {
          display: flex;
          justify-content: space-between;
          > img {
            width: 8%;
            height: 32px;
            margin-top: 10%;
            margin-right: 6%;
          }
          > div.left {
            width: 80%;
            display: flex;
            margin-left: 5%;
            margin-top: 5%;
            div.parag {
              display: flex;
              flex-direction: column;
              margin-left: 5%;
              margin-top: 6%;
              > h5 {
                color: black;
                font-size: var(--sm);
              }
              > h6 {
                color: var(--pcolor);
                font-size: var(--sm);
              }
            }
          }
        }
        div.down {
          > p {
            color: var(--pcolor);
            font-size: 14px;
            margin-left: 5%;
            margin-top: 5%;
            > span {
              font-weight: 700;
            }
          }
        }
      }
    }
    div.btn {
      width: 100%;
      > button.risk {
        border: solid 2px black;
        border-radius: 15px;
        width: 15%;
        margin: 0 auto;
        background-color: #ff6d2c;
        box-sizing: border-box;
        box-shadow: 2.5px 2.5px 0px black;
        color: white;
        font-size: 15px;
        margin-top: 10%;
      }
    }
  }
  //  div.DTC  end
  //  div.obvi start
  div.obvi {
    width: 100%;
    background-color: #eeecff;
    display: flex;
    margin-top: 5%;
    > img.obvi {
      width: 40%;
      margin-top: 5%;
      margin-left: 5%;
      margin-bottom: 5%;
    }
    div.parag {
      width: 45%;
      margin-top: 6%;
      margin-left: 8%;
      > h1 {
        width: 80%;
        font-weight: bold;
        font-size: var(--50px);
        > span {
          color: var(--green);
          font-family: var(--english);
        }
      }
      > p {
        margin: 5% 0;
        width: 70%;
      }
      div.percentage {
        width: var(--full);
        display: flex;
        justify-content: space-between;
        div.slot {
          display: flex;
          flex-direction: column;
          text-align: left;
          > h2 {
            font-weight: bold;
          }
        }
      }
      div.btn {
        width: 100%;
        display: flex;
        justify-content: left;
        > button.risk {
          border: solid 2px black;
          border-radius: 15px;
          width: 40%;
          background-color: white;
          box-sizing: border-box;
          box-shadow: 2.5px 2.5px 0px black;
          color: black;
          font-size: 15px;
          margin-top: 10%;
        }
      }
      div.meno {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 8%;
        margin-bottom: 8%;
        > div.slot1 {
          width: 11%;
          > img {
            margin-bottom: 10%;
            cursor: pointer;
          }
        }
        > div.slot2 {
          width: 24%;
          > img {
            margin-bottom: 10%;
            cursor: pointer;
          }
        }
        > div.slot3 {
          width: 13%;
          > img {
            margin-bottom: 10%;
            cursor: pointer;
          }
        }
        > div.slot4 {
          width: 27%;
          > img {
            margin-bottom: 10%;
            cursor: pointer;
          }
        }
        .border-g {
          border-bottom: solid 3px var(--green);
        }
      }
    }
  }
  // div.obvi end
  // div.oreng start
  div.oreng {
    width: var(--full);
    background-color: #ff6d2c;
    display: flex;
    > div.parag {
      width: 45%;
      margin-left: 5%;
      margin-top: 10%;
      > h1 {
        width: 80%;
        font-size: 60px;
        color: white;
        font-weight: bold;
      }
      > p {
        width: 100%;
        color: white;
        font-size: var(--l);
        margin-top: 5%;
      }
      > div.riting {
        width: var(--full);
        display: flex;
        justify-content: space-evenly;
        div.btn {
          width: 100%;
          > button.risk {
            border: solid 2px black;
            border-radius: 15px;

            background-color: white;
            box-sizing: border-box;
            box-shadow: 2.5px 2.5px 0px black;
            color: black;
            font-size: 15px;
            margin-top: 18%;
            display: flex;
            justify-content: left;
            text-align: center;
          }
        }
        div.lvl {
          display: flex;
          flex-direction: column;
          margin-top: 8%;
          margin-right: 40%;
          > p {
            color: white;
          }
        }
      }
      h5.gray {
        margin-top: 5%;
        color: rgb(221, 221, 221) !important;
        font-size: var(--sm);
      }
    }
  }
  //  div.oreng end
  //  div.insights start
  div.insights {
    width: var(--full);
    background-color: #f3fafa;
    div.parag {
      width: var(--full);
      display: flex;
      justify-content: center;

      > h1 {
        font-size: var(--60px);
        font-weight: bold;
        margin-top: 5%;
        > span {
          color: var(--green);
          font-family: var(--english);
        }
      }
    }
    div.cardCantiner {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin-top: 5%;
      > div.card {
        width: 24%;
        display: flex;
        flex-direction: column;
        border: none;
        background-color: unset;
        margin-bottom: 5%;
        > h4 {
          width: 90%;
          font-weight: bold;
        }
      }
    }
  }
  // div.insights end
}
// main end
footer {
  div.top {
    width: var(--full);
    display: flex;

    div.left {
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-left: 6%;
      margin-top: 8%;
      width: 25%;
      > img {
        width: 25%;
      }
      > p {
        width: 100%;
        color: var(--pcolor);
        font-weight: 500;
        margin-top: 6%;
      }
    }
    div.lcenter {
      display: flex;
      flex-direction: column;
      margin-left: 6%;
      margin-top: 8%;
      width: 12%;
      > ul {
        li.compani {
          margin-bottom: 15%;
        }
        > li {
          list-style-type: none;
          margin-bottom: 8%;
          > a {
            text-decoration: none;
            color: var(--pcolor);
            font-weight: 600;
          }
          > a.compani {
            color: black;
          }
        }
      }
    }
    div.rcenter {
      display: flex;
      flex-direction: column;
      margin-left: 6%;
      margin-top: 11.3%;
      width: 15%;
      > ul {
        > li {
          list-style-type: none;
          margin-bottom: 6%;
          > a {
            text-decoration: none;
            color: var(--pcolor);
            font-weight: 600;
          }
          > a.compani {
            color: black;
          }
        }
      }
    }
    div.right {
      margin-left: 6%;
      margin-top: 8%;
      display: flex;
      flex-direction: column;
      > div.email {
        display: flex;
        margin: 6% 0;
        > a {
          margin-left: 5%;
          text-decoration: none;
          color: var(--pcolor);
        }
      }
      > p {
        width: 90%;
      }
    }
  }
  hr.hr {
    color: lightgray;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 3%;
  }
  div.down {
    width: var(--full);
    display: flex;
    justify-content: space-between;
    
    > div.left {
      display: flex;
      flex-direction: column;
      margin-left: 5%;
      > p {
        font-weight: 500;
      }
    }
    div.right {
      width: 15%;
     margin-right: 4.5%;
      > button.risk {
        border: solid 2px black;
        border-radius: 15px;
        width: 35%;
        background-color: white;
        box-sizing: border-box;
        box-shadow: 2.5px 2.5px 0px black;
        color: black;
        font-size: 15px;
      }
            > button.Risk {
        border: solid 2px black;
        border-radius: 15px;
        width: 60%;
        background-color: #ff6d2c;
        box-sizing: border-box;
        box-shadow: 2.5px 2.5px 0px black;
        color: black;
        font-size: 15px;
       margin-right: 0;
      }
    }
  }
}

// all scss end
